<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>zurl - URL shortener</title>
  </head>

  <body>
    <form action="/" method="post">
      <input type="text" name="longURL" placeholder="https://example.com" required>

      <button type="submit">shorten</button>
    </form>

    {{ if .Error }}
      <div>{{ .Error }}</div>
    {{ end }}

    {{ if .ShortURL }}
      <form action="/{{ .ShortURL }}" method="post">
        your shortened URL

        <input id="shortUrlInput" type="text" name="shortURL" value="http://localhost:8080/{{ .ShortURL }}" readonly>

        <button type="submit">check</button>
        <button type="button" onclick="copyToClipboard()">copy</button>
      </form>
    {{ end }}

    <footer>
      &copy; zurl 0.3.0 no rights reserved
    </footer>

    <script>
      function copyToClipboard() {
          const copyText = document.getElementById("shortUrlInput");
          copyText.select();
          document.execCommand("copy");
      }
    </script>
  </body>
</html>