<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>zurl - URL shortener</title>
  </head>

  <body>
    <form action="" method="post">
      <input type="text" name="longURL" placeholder="https://example.com" required>

      <button type="submit">shorten</button>
    </form>

    {{ if .ShortURL }}
      <div>
        your shortened URL

        <input type="text" value="{{ .ShortURL }}" readonly>
      </div>
    {{ end }}
  </body>
</html>