<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>zurl - URL shortener</title>
  </head>

  <body>
    <form action="/" method="post">
      <input type="text" name="longURL" placeholder="https://example.com" required>

      <button type="submit">shorten</button>
    </form>

    {{ if .Error }}
      <div>{{ .Error }}</div>
    {{ end }}

    {{ if .ShortURL }}
      <form action="/{{ .ShortURL }}" method="post">
        your shortened URL

        <input type="text" name="shortURL" value="http://localhost:8080/{{ .ShortURL }}" readonly>

        <button type="submit">check</button>
      </div>
    {{ end }}
  </body>
</html>