@font-face {
  font-family: 'JetBrains Mono';
  src: url('/static/fonts/jetbrains-mono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 20px;
}

body, html {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

button {
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

form:first-of-type {
  margin-bottom: 16px;
}

footer {
  text-align: center;
}

input {
  border-radius: 4px;
}

main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.icon {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.menu {
  display: flex;
  flex-direction: row;
}